@page
@model LoginTester.Pages.LoginModel
@{
}

@if (TempData["AlertMessage"] != null && TempData["AlertType"] != null) //change!!!!!
{
    @if ((WarningType)TempData["AlertType"] == WarningType.Success)
    {
        <div class="alert alert-success">
            <strong>@TempData["AlertMessage"]</strong>
        </div>
    }
    else if ((WarningType)TempData["AlertType"] == WarningType.Info)
    {
        <div class="alert alert-info">
            <strong>@TempData["AlertMessage"]</strong>
        </div>
    }
    else if ((WarningType)TempData["AlertType"] == WarningType.Warning)
    {
        <div class="alert alert-warning">
            <strong>@TempData["AlertMessage"]</strong>
        </div>
    }
    else
    {
        <div class="alert alert-danger">
            <strong>@TempData["AlertMessage"]</strong>
        </div>
    }
}

@using (Html.BeginForm(FormMethod.Post, new { Style = "border:solid 2px" }))
{
    <div>
        <div>
            <h3>Login</h3>
        </div>
        <table style="border:solid 2px">
            <tr>
                <td>@Html.LabelFor(x => x.user.Email)</td>
                <td>@Html.TextBoxFor(x => x.user.Email)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.user.Password)</td>
                <td>@Html.TextBoxFor(x => x.user.Password)</td>
            </tr>
            <tr>
                <td><input type="submit" value="Login" asp-page-handler="Login" /></td>
            </tr>
        </table>
        <div>
            <h3>Register</h3>
        </div>
        <table style="border:solid 2px">
            <tr>
                <td>@Html.LabelFor(x => x.user.Email)</td>
                <td>@Html.TextBoxFor(x => x.user.Email)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.user.Password)</td>
                <td>@Html.TextBoxFor(x => x.user.Password)</td>
            </tr>
            <tr>
                <td><input type="submit" value="Register with Google" asp-page-handler="RegisterGoogle" /></td>
                <td><input type="submit" value="Register" asp-page-handler="Register" /></td>
            </tr>
        </table>
    </div>
}