@page
@using Models
@model LoginTester.Pages.RegisterModel
@{
}

<div>
    <h3>Register</h3>
</div>

@using (Html.BeginForm(FormMethod.Post, new { Style = "border:solid 1px" }))
{
    <div>
        <table>
            <tr>
                <td>@Html.LabelFor(x => x.user.FirstName)</td>
                <td>@Html.TextBoxFor(x => x.user.FirstName)</td>
            </tr>
            <tr>
            <tr>
                <td>@Html.LabelFor(x => x.user.LastName)</td>
                <td>@Html.TextBoxFor(x => x.user.LastName)</td>
            </tr>
            <tr>
            <tr>
                <td>@Html.LabelFor(x => x.user.Cpf)</td>
                <td>@Html.TextBoxFor(x => x.user.Cpf)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.user.Gender)</td>
                <td>@Html.DropDownList("Gender", new SelectList(Enum.GetValues(typeof(Gender))), "Select Gender")</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.user.Birthday)</td>
                <td>@Html.TextBoxFor(x => x.user.Birthday)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.user.Email)</td>
                <td>@Html.TextBoxFor(x => x.user.Email)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.user.Login)</td>
                <td>@Html.TextBoxFor(x => x.user.Login)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.user.Password)</td>
                <td>@Html.TextBoxFor(x => x.user.Password)</td>
            </tr>
            <tr>
                <td>@Html.Label("Confirm Password")</td>
                <td>@Html.TextBoxFor(x => x.user.Password)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.user.Cep)</td>
                <td>@Html.TextBoxFor(x => x.user.Cep)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.user.Street)</td>
                <td>@Html.TextBoxFor(x => x.user.Street)</td>
            </tr>
            <tr>
                <td><input type="submit" value="Cancel" asp-page-handler="Cancel" /></td>
                <td><input type="submit" value="Clear All" asp-page-handler="ClearAll" /></td>
                <td><input type="submit" value="Confirm" asp-page-handler="Confirm" /></td>
            </tr>
        </table>
    </div>
}